<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header>
    <nav th:replace="fragments/commons::navMenu"></nav>
</header>

<main>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Scotch Whisky</h1></td>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="ScotchWhisky" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${scotchWhiskeys}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Irish Whisky</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="IrishWhisky" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${irishWhiskeys}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">American Whisky</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="AmericanWhisky" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${americanWhiskeys}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Single Malt Scotch Whisky</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="SingleMaltScotchWhisky" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${singleMaltScotchWhiskyWhiskeys}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
<!---->

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Japanese Whisky</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="JapaneseWhisky" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${japaneseWhiskyWhiskeys}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
<!--    -->
    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Gin</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Gin" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${gin}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Vodka</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Vodka" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${vodka}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Cognac And Brendy</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="CognacAndBrendy" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${cognacAndBrendy}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Rum</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Rum" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${rum}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Tequila</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Tequila" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${tequila}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Rakia</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Rakia" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${rakia}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Whiskey Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="WhiskeyCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${whiskeyCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Gin Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="GinCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${ginCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Vodka Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="VodkaCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${vodkaCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Tequila Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="TequilaCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${tequilaCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Brandy Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="BrandyCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${brandyCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Schroedinger Cocktails</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="SchroedingerCocktails" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${schroedingerCocktails}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Beer</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Beer" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${beer}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Wine Glass</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="WineGlass" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${wineGlass}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">White Wine Glass</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="WhiteWine" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${whiteWineGlass}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Red Wine</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="RedWine" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${redWineGlass}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Rose</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Rose" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${roseWineGlass}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Non Alcoholic</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="NonAlcoholic" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${nonAlcoholic}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Hot Beverages</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="HotBeverages" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${hotBeverages}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Nuts</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Nuts" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${nuts}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-center titleMenu">Menu</h1>
            <td class="smallTD">
                <form class="" th:action="@{/admin/add-by-type}" th:method="post">
                    <div class="button-holder  d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-sm  mb-3 mt-3">Add</button>
                        <input type="hidden" value="Menu" name="typeEnum">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
        <tr>
            <td><strong> Флам / Ellsässer Flammkuchen</strong></td>
        </tr>
        <th:block th:each="w : ${menu}" th:object="${w}">
            <tr>
                <td th:text="*{name} ? *{name} : '-'">name</td>
                <td class="smallTD" th:text="*{price} ? ${#numbers.formatDecimal(w.price, 1,2)}+'лв.':'-'">price</td>
                <td class="smallTD"><a class="btn btn-warning rounded btn-sm" th:href="@{/admin/edit/{id}(id=${w.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <br><br>

</main>
<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::bsbundle"></script>
</body>
</html>
