<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header>
    <nav th:replace="fragments/commons::navMenu"></nav>
</header>

<main>




    <h1 class="text-center titleMenu">Non Alcoholic</h1>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${nonAlcoholic}" th:object="${w}">
            <tr>
                <td th:text="*{name}">name</td>
                <td class="smallTD" th:text="|${#numbers.formatDecimal(w.price, 1,2)}лв.|">price</td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <h1 class="text-center titleMenu">Hot Beverages</h1>
    <table class="table table-sm">
        <tbody>
        <th:block th:each="w : ${hotBeverages}" th:object="${w}">
            <tr>
                <td th:text="*{name}">name</td>
                <td class="smallTD" th:text="|${#numbers.formatDecimal(w.price, 1,2)}лв.|">price</td>
            </tr>
        </th:block>
        </tbody>
    </table>

<br><br>

</main>
<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::bsbundle"></script>
</body>
</html>
